# https://dart.dev/guides/libraries/private-files
# Created by `dart pub`
.dart_tool/
pclist.txt
res.txt
main.exe
main
libmain.so
nimble.develop
nimble.paths
nimbledeps
bench2.exe
libbench2.so
bench3.exe
libbench3.so
*.exe
*.so